<div class="Beer-card">
  <div class="beer-img">
    <img src="{{image_url}}" alt="">
  </div>
  <div class="beer-info">
    <h1>{{name}}</h1>
    <h2>{{tagline}}</h2>
    <h3>{{description}}</h3>
  </div>
</div>